{% extends "layout.html" %}

{% block title %}
    Browse
{% endblock %}

{% block main %}
<div class="container-fluid" style = "margin: 30px 50px 30px 50px">
    <div class="row">
      {% for product in listofproducts %}
        <div class="col-md-4 products">
            <div class="thumbnail">
              <img src="{{ 'static/images/uploads/' + product.prodPath[0] }}" id = "{{ 'img' + loop.index0|string }}" alt="" class="img-responsive imgbrowse">
              <div id = "filltarget">
                <h4 class="pull-right">${{ product.prodPrice }}</h4>
                <h4>
                  <form id="myform" method="post" action="{{ '/product/' + product.prodName | replace(' ', '-') }}">
                    <input type="hidden" name="name" value="{{ product.prodPath[0] }}" />
                    <button type= "submit" id = "buttonlink">{{ product.prodName }}</button>
                  </form>
                </h4>
                <p>{{ product.prodDesc }}</p>
                <div class = "space-ten"></div>
                <!-- <div class="btn-ground text-center">
                    <button type="button" class="btn btn-primary" style = "margin-bottom: 40px;"><i class="fa fa-shopping-cart"></i> Add To Cart</button>
                </div> -->
              </div>
            </div>
        </div>
      {% endfor %}
    </div>
</div>

{% endblock %}
